
.luz-noticia{
    margin-left: 1vw;
    width: 30vw;
    height: 0px;
    border-radius: 50%;
    box-shadow:
    0 0 2vh 1vw rgba(30, 255, 0, 0.068),  /* inner white */
    0 0 4vh 2vw rgba(0, 255, 64, 0.089), /* middle magenta */
    0 0 6vh 4vw rgba(0, 47, 255, 0.096); /* outer cyan */  
    margin: auto;
}

.criar-ntc{
    display: block;
    background-color: #00e913;
    border: none;
    color: rgb(0, 0, 0);
    padding: 8px 32px;
    text-decoration: none;
    margin: auto;
    font-size: 20px;
    margin-top: 3vh;
    margin-bottom: 6vh;
    font-size: 20px;
    width: 8vw;
    text-align: center;
    user-select: none;
    display: none;
}

.criar-ntc.on{
    display: block;
    
}

.criar-ntc:hover{

    background-color: #0a2404;
    color: white;

    
}

.criar-ntc:active{

    background-color: #4d4d4d;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(9, 245, 29);

    
}


