.input-cadastro{

    border: none;
    border-bottom: 2px solid rgb(24, 173, 31);
    padding-left: 1vw;
    font-size: 20px;

    margin:auto;
    display: block;
    margin-top: 15vh;
    width: 30vw;
    height: 5vh;
    
}

.input-cadastro:focus {
    border: 2px solid rgb(9, 245, 29);
    outline: none;
}

.submit-cadastro{

    background-color: #00e913;
    border: none;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    font-size: 20px;

    position: relative;
    left:46vw;
    margin-top: 15vh;
    width: 8vw;
    height: 5vh;
    font-size: 20px;
    
}


.submit-cadastro:hover{

    background-color: #000000;
    color: white;
    border: 1px solid rgb(9, 245, 29);

    
}

.submit-cadastro:active{

    background-color: #4d4d4d;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(9, 245, 29);

    
}