.card{
    padding: 4vh;
    text-align: center;
    width: 30vw;
    border-style: solid;    
    border-width: 0.1vh;
    border-color: rgb(8, 230, 8);
    margin: auto;
    margin-top: 7vh;
    font-size: 11px;
    user-select: none;
    border-radius: 3vh;
}

.delete{
    display: none;
    transform: translate(30vw, -3vh);
    position: absolute;
    user-select: none;  
}



.delete.active{
    display: block;
}
